# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. JavaScript

### List popular languages for Data Science

**Objectives:**
- Python
- R language
- JavaScript

### Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. NumPy
3. TensorFlow

| Data Science Tools     |
|----------|
| Jupyter Notebooks    |
| Apache Zeppelin    |
| RStudio    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

def minutes_to_hours(minutes):
    return minutes / 60

# Example usage:
print(minutes_to_hours(200))

3.3333333333333335

## Author: Abdullah